# help.github.com/articles/ignoring-files
# github.com/github/gitignore
# github.com/h5bp/html5-boilerplate/blob/master/doc/misc.md

# Extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor
.DS_Store
._*
Thumbs.db
ehthumbs.db
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace
_notes
dwsync.xml

# Non-git version contol
.hg
.svn
.CVS
intermediate
publish
.idea